.git
.github
**/__pycache__
**/*.pyc
.venv*
backend/.venv
.env
backend/.env
web/
ios/
streamlit/
docs/
scripts/
training/*
!training/models/
training/models/*
!training/models/exported/
node_modules
.DS_Store